*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
}
/* star header */
header{
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: auto;
    align-items: center;
}
.header_content{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 100%;
}
.header_content li{
    padding-right: 20px;
    font-size: 14px;
}
.ul{
    padding: 50px;
}
nav a span{
    color: #070120;
    font-weight: 500;
    display: inline-block;
    transition: all 0.1s;
}
nav a i{
    color: #262626;
}
nav a:hover span,nav a:hover i {
    color: #f55f8d;
}

nav a:hover span{
 animation: uptodown 0.5s;
}
.btn-gradient{
    padding: 20px 35px;
    border-radius: 30px;
    border:1px solid transparent;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    transition: all 0.5s;
    cursor: pointer;
    outline: 0;
    background-size: 200%;
}
.btn-gradient:hover{
   background-position: right center;
}
/* end header */
/* star carousel */
.carousel{
    width: 100%;
    padding-top: 180px;
    background-image: url(./image/pic2.png);
    background-size: 100%;
    background-position: top;
    overflow: hidden;
}
.carousel_content{
    display: flex;
    align-items: center;
}
.carousel_left{
    width: 60%;
}
.saCarousel__article li{
padding-top: 15px;
}
.saCarousel__article ul{
    padding-bottom: 25px;
}
.saCarousel__banner{
   width: 570px;
   margin-left: 50px;
}
.saCarousel__banner img{
    transform: translateX(100px);
}
/* end carousel*/
/* star service*/
.service{
    width: 100%;
    background-image: url(./image/bg2.png);
    background-size: cover;
    background-position: top center;
    padding-top: 150px;
    text-align: center;
    margin-bottom: 100px;
}
.service_title{
    text-align: center;
}
.service_title p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    padding-bottom: 5px;
}
.service_title h2{
    font-size: 70px;
    color: black;
    padding-bottom: 20px;
}
.service_content{
    display: flex;
}
.service_content .item{
    margin-right: 30px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;
}
.service_content .item:hover{
    transform: translateY(-20px);
}
.item img{
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: space-between ;
    padding-bottom: 15px;
}
.item h3{
    color: black;
    font-size: 25px;
    padding-bottom: 15px;
}
.item p{
    padding-bottom: 15px;
}
/* end service*/
/* star about */
.about{
    background-image: url(./image/bg15.png);
    background-size: 100%;
    padding-bottom: 50px;
    background-position: center right;
    overflow: hidden;
}
.about_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.about_left {
    width: 50%;
}
.about_left img{
    transform: translateX(-17%);
    border-radius: 0 100px 100px 0;
    width: 100%;
}
.about_right i{
    font-size: 25px;
    color: #f55f8d;
    margin-top: 15px;
    margin-right: 15px;
    vertical-align: middle;
}
.about_right button{
    margin-top: 15px;
}
/* end about */
/* star number */
.number{
    background-image: url(./image/bg14.png);
    background-size: 100%;
    background-position: center;
    text-align: center;
    padding: 80px 0 50px;
    margin-bottom: 100px;
}
.number_content{
    display: flex;
    justify-content: space-around;
}
.number_item{
    width: 25%;
}
.number_item i{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    text-align: center;
    display: inline-block;
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
}
.number_item p:first-of-type{
    font-size: 60px;
    font-weight: 600;
    color: #f55f8d;
    height: 80px;
}
.number_item span{
    padding-right: 10px;
}
.number_item p:last-of-type{
    font-size: 18px;
    color: #262626;
}
/* end number */
/* star showcase */
.showcase{
    background-image: url(./image/bg2.png);
    background-size: 100%;
    margin-bottom: 50px;
    background-position: center;
}
.showcase_content{
    display: flex;
}
.showcase_left, .showcase_right{
    width: 50%;
}
.showcase_title p{
    font-size: 22px;
    color: #f55f8d;
    font-weight: 900px;
    margin-bottom: 15px;
}
.showcase_title h2{
    font-size: 70px;
    font-weight: 700;
    color: #262626;
    line-height: 1.1;
    margin-bottom: 15px;
}
.item_group{
    position: relative;
    padding: 0 50px 30px 0;
}
.group_bg div{
    z-index: 1; 
    transition: all 1s;
}
.item_group:nth-of-type(2){
    padding: 0 0 30px 50px;
}
.item_group h3{
    font-size: 25px;
    color:#262626;
    font-weight: 600;
    transition: all 1s;
}
.group_bg i{
    font-size: 80px;
    color: #f55f8d;
    margin-right: 20px;
    padding-left: 10px;
    z-index: 1;
    transition: all 1s;
}
.group_bg{
    display: flex;
    align-items: center;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    position: relative;
    background: #fff;
    z-index: 1;
}
.group_bg::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
.showcase_right img{
    width: 100%;
    height: 100%;
    transform: translateX(80px);
    animation: move2 5s  infinite;
}
.group_bg:hover::after{
    opacity: 1;
}
.group_bg:hover i{
    color: #fff;
}
.group_bg:hover div{
    color: #fff;
}
.group_bg:hover h3{
    color: #fff;
}
/* end showcase */
/* star portfolio */
.portfolio{
    padding-top: 50px;
    background-image: url(./image/bg17.png);
    background-size: cover;
    background-position: top center;
}
.portfolio_title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}
.portfolio_title h2{
    font-size: 70px;
    font-weight: 700;
    color:#000000;
}
.portfolio_list{
    display: grid;
    grid-template-columns: repeat(2,1fr)1.5fr;
    gap: 40px;
    aspect-ratio: 1 / 1;
    
}
.portfolio_item{
    position:relative;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio_item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
 
}
.item_search i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%); ;
    font-size: 30px;
    background-size: 200%;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    transform: translateX(0px) translateY(0px);
   transition: all 0.8s;
}
.item_title{
    position: absolute;
    left: 20px;
    bottom: 0px;
    color: white;
    transform: translateY(20px);
    transition: all 0.7s;
}
.item_title p{
    color: rgb(227, 224, 224)
}
.item_title h3{
    font-size: 22px;
    font-weight: 600;
}
.portfolio_list .item_1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.portfolio_list .item_2{
    grid-row: 1 / 3;
    grid-column: 3 / 5;
}
.portfolio_list .item_5{
    grid-column: 1 /3;
}
.portfolio_list .item_6{
    grid-row: 3 / 5  ;
    grid-column: 3 / 5 ;
}
.portfolio_item .item_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.8s;
    border-radius: 10px;
}
.portfolio_item .item_overlay:hover{
    opacity: 1;
    transition: all 0.3s;
}
.portfolio_item .item_overlay:hover i{
    transform: translateX(-20px) translateY(20px);
}
.portfolio_item .item_overlay:hover .item_title{
    transform: translateY(-40px);
}
.portfolio_item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.portfolio_item:hover::before{
    left: 125%;
}
/* end portfolio  */

/* star plan */
.plan{
    margin-top: 100px;
    background-image: url(./image/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 50px;
}
.plan_title{
    text-align: center;
}
.plan_title b{
    font-size: 25px;
    color: #f55f8d;
    font-weight: 600;
}
.plan_title h2{
    font-size: 80px;
    color: #070120;
    font-weight: 800;
}
.plan_list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  gap: 20px;
}
.plan_item{
    align-items: center;
    margin-right: 30px;
    padding: 35px 60px;
    box-shadow: 1px 0 50px rgb(0,0,0,.1);
    background: #fff;
    transition: all 0.s;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: all 0.2s;
    border-image: 100 round;
}
.plan_item:hover{
    border-image: url(./image/br.png)3;
}
.plan_item img{
    width: 125px;
}
.plan_item ul{
    text-align: left;
    padding: 15px 0;
}
.plan_item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan_item li{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 400;
    color: #262626;
}
.plan_item h3{
    font-size: 30px;
    font-weight: 700;
    color: #262626;
}
.plan_item p{
    font-size: 18px;
    font-weight: 600;
    color: #262626;
}
.plan_item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 700;
}
/* end plan */
/* star testimonial */
.testimonial{
    margin-top: 50px;
    text-align: center;
    background-image: url(./image/bg17.png);
    background-size: 100%;
    background-position: center;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
}
  
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.testimonial-title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}
.testimonial-title h2{
    font-size: 65px;
    color:#262626;
}
.swiper-slide strong{
    font-size: 22px;
    color: #262626;
}
.swiper-slide span{
    font-size: 18px;
    color: #f55f8d;
    font-style: italic;
}
.swiper-slide p{
    font-size: 18px;
    margin-top: 30px;
    font-style: italic;
}
.testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial-thumbs::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0  ;
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position:absolute;
    left: 0;
    bottom: 0;
    background-image: url(./image/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}
.testimonial-pic::after{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    height: 10px;
    width: 10px;
    bottom: 0;
    
}
.testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic::after{
    opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic::before{
    opacity: 1  ;
}


.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

/* end testimonial */
/* star blog */
.blog{
    padding-top: 20px;
    background-image: url(./image/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 20px; 
    padding-top: 100px;
}
.blog_title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}
.blog_title h3{
    font-size: 70px;
    color: #262626;
    font-weight: 600;
}
.blog_list{
    margin-top: 15px;
}
.blog_item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog_header{
    position: relative;
}
.blog_item .blog_header img{
    width: 100%;
    border-radius: 8px;  
}
.blog_item .blog_header p{
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    bottom: -15px;
}
.blog_body{
    margin-top: 30px;
    margin-bottom: 30px;
}
.blog_body h3{
    padding-left: 10px;
    color: #262626;
    font-size: 22px;
    font-weight: 600;
}
.blog_body p{
    padding-left: 10px;
}
.blog_footer{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    text-transform: uppercase;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog_footer i{
    color: #f55f8d;
    font-size: 18px;
    padding-right: 5px;
}
.blog_footer p:first-of-type span{
  color: #f55f8d;
  margin-right: 20px;
}
.blog .blog_list .owl-carousel .owl-dots span{
    background: #fff;
}

/* end blog */
/* star footer */
footer{
    background-image: url(./image/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    display: block;
    height: auto;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
    content: "";
    background-image: url(./image/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer_search{
    background-image: url(./image/pattern3.png);
    background-size: 100%;
    border-radius: 10px;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    height: 160px;
    position: relative;
    display: flex;
    background-color: #fff;
    width: 100%;
    padding: 50px 60px;
}
.footer_text{
    width: 50%;
    color: #262626;
    font-size: 28px;
}
.search_email{
    width: 50%;
}
.search_email form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.search_email input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}
.search_email button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer
}
.search_email button:hover i{  
    animation: uptoright 0.5s;  
}
.footer_contact{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: relative;
}
.footer_contact img{
    color: #fff;
}
.footer_copyright{
    width: 100%;
    height: 50px;
    background: #1f343b;
    margin-top: 50px;
}
.footer_contact .item_logo li{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.footer_contact .item_logo i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer_contact .footer_item li{
    padding: 15px 0;
}
.footer_item a{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer_item i{
    font-weight: 700;
    margin-right: 10px;
}
li:hover a{
    color: #fff;
}
.footer_item h3{
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.footer_item h3::before{
    content: "";
    height: 4px;
    width: 15px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    position: absolute;
    left: 0;
    bottom: -5px;
    border-radius: 2px;
}
.footer_item h3::after{
    content: "";
    height: 4px;
    width: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    position: absolute;
    left: 20px;
    bottom: -5px;
    border-radius: 2px;
}

.footer_copyright .copyright_text p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.copyright_contact{
    display: flex;
    line-height:50px ;
    justify-content: space-between;
}
.copyright_text span{
    color: #f55f8d;
}
.copyright_icon a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background: #304951;
    margin-left: 3px;
    align-items: center;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    transition: all 0.5s;
    position: relative;
}
.copyright_icon a:hover{
    background: #f55f8d;
}
/* end foote */
/* back to up */
.backtoup a{
 width: 50px;
 height: 50px;
 background: #f55f8d;
 color: #fff;
 border: none;
 border-radius: 5px;
 font-size: 15px;
 position: absolute;
 right: 15px;
 bottom: 15px;
 overflow: hidden;
 text-align: center;
 line-height:50px ;
 position: fixed;
}
/* back to up */
/* keyframes */
@keyframes uptodown {
    40% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    60% {
      opacity: 1;
    }
  }
  
@keyframes uptoright{
    40% {
        transform: translateX(100%);
      }
      50% {
        opacity: 0;
        transform: translateX(-100%);
      }
      60% {
        opacity: 1;
      } 
}  
